<table class="w-full text-sm text-left text-gray-500 relative overflow-x-auto rounded border">
    {% include "components/global/table_head.html" with columns=columns %}
    <tbody>
        {% for obj in page_obj%}
        <tr class="bg-white border-b">
            <td class="px-4 py-3">
                {{obj.full_name}}
            </td>
            <td class="px-4 py-3">
                {{obj.appt_slot}}
            </td>
            <td class="px-4 py-3">
                {{obj.get_status_display}}
            </td>
            <td class="px-4 py-3">
                {{obj.email}}
            </td>
            <td class="px-4 py-3">
                {% include "components/global/table_action.html" with obj=obj route="appointments:detail" %}
            </td>
        </tr>
        {% empty %}
            <tr>
                <td class="px-4 py-3">No appointments found.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>