{% extends 'layouts/base.html' %}

{% block content %} 
<div class="space-y-4">
    <table class="w-full text-sm text-left text-gray-500 relative overflow-x-auto rounded border">
        {% include "components/global/table_head.html" with columns=columns %}
        <tbody>
            {% for obj in page_obj%}
            <tr class="bg-white border-b">
                <td class="px-4 py-3">
                    {{obj.date}}
                </td>
                <td class="px-4 py-3">
                    {{obj.patient.first_name}} {{obj.patient.last_name}}
                </td>
                <td class="px-4 py-3">
                    {{obj.doctor.first_name}} {{obj.doctor.last_name}}
                </td>
                <td class="px-4 py-3">
                    {{obj.get_status_display}}
                </td>
                <td class="px-4 py-3">
                    {% include "components/global/table_action.html" with obj=obj route="appointments:detail" %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
   {% include "components/global/pagination.html" with page_obj=page_obj %}
</div>
{% endblock %}